/* CSS */
.cpsx_block .count {
  font-weight: inherit;
}

.cpsx_block p {
  cursor: pointer;
}

.cpsx_block {
  align : right;
  overflow: hidden;
  position: fixed;
  bottom: 2px;
  left: 5%;
  border: 3px solid #CCCCCC;
  background-color: white;
  height: 300px;
  width: 19%;
}

#toggle_checkbox {
  display: none;
}


#toggle_checkbox:checked + .cpsx_block {
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    left: 91%;
    border: none;
    background-color: none;
    height: 37px;
    width: 45px;
}


/* use this to embed in problem frame
#toggle_checkbox:checked + .cpsx_block {
  align : right;
  overflow: intitial;
  position: static;
  bottom: 0px;
  left: 0%;
  border: none;
  background-color: white;
  height: 200px;
  width: 100%;
}
*/

.toggle_view {
  background: #000000;
  float: right;
  display: table;
  height: 37px;
  width: 40px;
  opacity: 0.25;
  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
  transition-timing-function: ease-in-out;
  -webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
  transition: opacity .5s;
}

.toggle_view:hover{
   opacity: .60;
}

/* Does the rest of this do anything? */

.logoutbutton {
  border: 1px solid #cacaca;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #fff;
  color: #333;
  display: inline-block;
  font-size: inherit;font-weight: bold;
  background-color: #eee;
  background-image: linear-gradient(#eee,#d2d2d2);
  padding: 1px 2px;
  text-decoration: none;
  text-shadow: 0 1px 0 #f8f8f8;
  background-clip: padding-box;
  font-size: 0.6125em;
  height: 20px;
  vertical-align: middle;
  font-weight: 600;
  margin-top:14px;
}

.printError {
  color: #ae0a0a;
}

.boxprice {
	background-color:#F4F4F4;
	width:250px;
	padding:15px;
	border:1px solid #CCCCCC;
}

.submitbutton, .submitbutton input[type="button"]{
	cursor:pointer;
	padding:5px 25px;
	background:#35b128;
	border:1px solid #33842a;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	color:#f3f3f3;
	font-size:1.1em;
}

.submitbutton:hover, .submitbutton:focus{
	background-color :#399630;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}
